<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="utf-8"/>
    <title>Hello Django</title>
    {% load bootstrap4 %}
    <script src="{% bootstrap_jquery_url %}"></script>
    {% bootstrap_javascript %}
    {% bootstrap_css %}
    {% load static %}
    <script src="{% static 'js/app.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
</head>
<body>
<header>
    <div id="nav-block">
        <div id="navbar">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#"> Log System Analyzer</a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                </div>
            </nav>
        </div>
    </div>
</header>
<div class="container">
    <div id="header-block" class="row">
        <div class="col-3">
        </div>
        <div id="title-content" class="col-6">
            <h4>
                {{ title }}
            </h4>
            <hr/>
        </div>
    </div>
    <div id="main-block" class="row">
        <div id="left-sidebar" class="col-3">
            {% block left-sidebar %}
            {% endblock left-sidebar %}
        </div>
        <div id="content" class="col-6">
            <div class="container">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
        <div id="right-sidebar" class="col-3">
        </div>
    </div>
    <div class="row align-items-end">
        <div class="col-12">
            <!--            <div id="footer-block">-->
            <!--                <div id="header-footer">-->
            <!--                    <h5>Console log: </h5>-->
            <!--                </div>-->
            <!--                <div id="content-footer">-->
            <!--                    <textarea name="console-log" id="console-log" cols="30" rows="8">-->
            <!--                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, exercitationem magnam magni-->
            <!--                        mollitia odio sunt voluptas. Cumque debitis deserunt dicta dolorem dolorum, iure laboriosam-->
            <!--                        minus nobis porro, quibusdam reprehenderit sunt?-->
            <!--                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, exercitationem magnam magni-->
            <!--                        mollitia odio sunt voluptas. Cumque debitis deserunt dicta dolorem dolorum, iure laboriosam-->
            <!--                        minus nobis porro, quibusdam reprehenderit sunt?-->
            <!--                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, exercitationem magnam magni-->
            <!--                        mollitia odio sunt voluptas. Cumque debitis deserunt dicta dolorem dolorum, iure laboriosam-->
            <!--                        minus nobis porro, quibusdam reprehenderit sunt?-->
            <!--                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, exercitationem magnam magni-->
            <!--                        mollitia odio sunt voluptas. Cumque debitis deserunt dicta dolorem dolorum, iure laboriosam-->
            <!--                        minus nobis porro, quibusdam reprehenderit sunt?-->
            <!--                    </textarea>-->
            <!--                </div>-->

            <!--            </div>-->
        </div>
    </div>
</div>
</body>
</html>