{% extends "left_sidebar.html" %}
{% block  content%}
<div id="list-rrd">
    <div>
        <div class="row ">
            <div class="col-2"><p class="font-weight-bold">{{header.name}}</p></div>
            <div class="col-4"><p class="font-weight-bold">{{header.description}}</p></div>
            <div class="col-6"><p class="font-weight-bold">{{header.file}}</p></div>
        </div>
        {% for item in list_rrd %}
        <div class="row {% if forloop.counter|divisibleby:'2' %} background-stripped {% endif %}">
            <div class="col-2"><p class="">{{item.name_host}}</p></div>
            <div class="col-4"><p class="">{{item.description}}</p></div>
            <div class="col-6"><p class="">{{item.file_name}}</p></div>
        </div>
        {%endfor%}
    </div>
</div>
{% endblock content %}
