body {
    position: relative;
}

body>div.container{
    padding: 0;
}

.footer-block {
    border: darkgray solid 1px;
    margin-top: 5px;
    padding: 20px;
}

.content-footer {
    overflow: auto;
    max-height: 150px;
}