body {
    position: relative;
}

body > div.container {
    padding: 0;
}

#footer-block {
    border-radius: 5px;
    border: darkgray solid 1px;
    margin-top: 5px;
    padding: 20px;
}

#content-footer {
    /*overflow: visible;*/
    /*max-height: 150px;*/
}

#console-log {
    border-radius: 5px;
    border: 0;
    /*background-color: beige;*/
    width: 100%;
    height: content-box;
}

#main-block {
    margin-top: 10px;
    margin-bottom: 20px;
}


.nav-link {
    color: inherit;
}

#left-sidebar li:hover {
    background-color: antiquewhite;
    transition: all 0.4s;
}

#left-sidebar li a:hover {
    color: inherit;
}

#title-content {
    text-align: center;
}